@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5; /* Fondo ligero para resaltar la tarjeta */
}


.card{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 15px 15px 0px;
    width: 750px;
    height: 550px;
}

.main-card{
    background-image: linear-gradient(to bottom,  hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 780px;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    padding: 40px 60px 40px 60px;
}

#title{
    font-size: 28px;
    line-height: 150%;
    font-weight: 500;
}

.result-main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(to bottom,  hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.big-result{
    margin-top: 20px;
    font-size: 70px;
}

.percentage-result{
    opacity: 80%;
    line-height: 150%;
    font-weight: 300;
}

.result{
    font-size: 40px;
    font-weight: 500;
}

.main-card p{
    font-size: 18px;
    line-height: 150%;
    font-weight: 300;
}

/*FROM HERE WE START WITH RIGHT DIV*/


.card-summary {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 900px;
    padding: 40px; 
}

.summary-title{
    color: black;
    font-size: 14px;

}

#cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    font-size: 14px;
}

.card-score{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 55px;
    justify-content: space-between;
    border-radius: 5px;
}

.left-score{
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.right-score{
    display: flex;
    flex-direction: row;
    color:  black;
    margin-right: 20px;
    font-size: 18px;
}

#cards .card-score:nth-child(1) {
    background-color:  #ff57570f; /* Color para 'Reaction' */
    color: hsl(0, 100%, 67%);
}

#cards .card-score:nth-child(2) {
    background-color:  hsla(39, 100%, 56%, 0.093); /* Color para 'Reaction' */
    color: hsl(39, 100%, 56%);
}

#cards .card-score:nth-child(3) {
    background-color: hsla(166, 100%, 37%, 0.07); /* Color para 'Verbal' */
    color: hsl(166, 100%, 37%);
}

#cards .card-score:nth-child(4) {
    background-color: hsla(234, 85%, 45%, 0.055); /* Color para 'Visual' */
    color: hsl(234, 85%, 45%);
}

.button{
    width: 100%;
    height: 55px;
    border-radius: 25px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    transition-duration: 0.4s;
    cursor: pointer; 
    font-size: 20px;
    margin-top: 20px;
}



.button:hover {
    background-color: hsla(256, 72%, 46%, 1); /* 1 es completamente opaco */
}



@media (max-width:375px){
    body{
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    
    .main-card{
        width: 100%;
        border-radius: 0px 0px 30px 30px;
        gap: 15px;
        padding: 20px 60px 40px 60px;
    }

    .cards{
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .card-summary {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 20px 40px 30px 40px;
    }

    #title {
        font-size: 20px;
        line-height: 150%;
        font-weight: 500;
    }

    .result-main-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: 10px;
    }

    .big-result {
        margin-top: 20px;
        font-size: 50px;
    }

    .result {
        font-size: 25px;
        font-weight: 500;
    }

    .main-card p {
        font-size: 14px;
        line-height: 150%;
        font-weight: 300;
    }

    .summary-title {
        font-size: 10px;
    }
}