@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
}

.main-container {
    display: flex;
    width: 45%;
    height: 400px;
    font-family: "Lexend Deca", sans-serif;
    justify-content: center;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 50px 50px 50px 50px;
    padding-right: 70px;
    background-color: hsl(244, 38%, 16%);
    gap: 20px;
    border-radius: 10px 0px 0px 10px;
    min-width: 400px; /* Cambia el ancho mínimo a 200px para pantallas pequeñas */
    max-width: 100%; /* Permite que el contenedor se reduzca a su tamaño mínimo */
}

.card-info span{
    color: hsl(277, 64%, 61%);
}

.card-info h1{
    font-family: "Inter", sans-serif;
    font-size: 36px;
}

.card-info h2{
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.card-info h3{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-size: 14px;
}

.card-info p{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    line-height: 200%;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
}

.card-image{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        hsl(277, 64%, 61%), 
        hsl(277, 64%, 61%)
    ),
    url(); 

    border-radius: 0px 10px 10px 0px ;
}

.card-image img{
    height: 100%;
    opacity: 60%;
    border-radius: 0px 10px 10px 0px;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 45px;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.box h2{
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.box h3{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsla(0, 0%, 100%, 0.6);
}

@media (max-width: 375px) {
    body{
        height: 90vh;
    }
    .main-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 80%;
        padding: 0;
        justify-content: center;
    }
    
    .card-info {
        text-align: center;
        padding: 24px;
        border-radius: 0 0 10px 10px;
        min-width: 200px; /* Ajusta el ancho mínimo */
        max-width: 100%; /* Asegura que no exceda el ancho disponible */
    }
    
    .card-info h1 {
        font-size: 24px;
        font-weight: 600;
    }
    .card-info p {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;

    }

    .card-image {
        border-radius: 10px 10px 0 0;
        width: 100%; /* Asegura que se ajuste al ancho disponible */
        height: 55%;

    }

    .card-image img{
        border-radius: 10px 10px 0px 0px ;
        object-position: 0cm 0cm;
        object-fit: cover;
        height: 100%;
    }

    .boxes {
        flex-direction: column;
        padding: 15px;
        gap: 20px;
    }

    .box h2 {
        font-size: 22px;
    }

    .box h3 {
        font-size: 12px;
    }
}